* {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    display: block;
}

element.style {
    --status-bar-height: 0px;
    --top-window-height: 0px;
    --window-left: 0px;
    --window-right: 0px;
    --window-margin: 0px;
    /* --window-top: calc(var(--top-window-height) + 0px); */
    --window-bottom: 0px;
}
body {
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    /* display: flex; */
    /* position: absolute; */
}

.advertisment {
    position:absolute;
}

.advert1 {
    width: 355px;
    height: 131px;
    border-radius: 8px;
    margin-top: 15px;
}

.navigation {
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    margin: 19px 0 0;
    width: 25%;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
}

.item1, .item2, .item3, .item4 {
    display: flex;
    
    width: 25%;
    flex: auto;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 9px 0; */
    /* background-color: red; */

    cursor: pointer;
}
.item1 {
    border-radius: 8px 0 0 8px;
}

.item4 {
    border-radius: 0 8px 8px 0;
}

.item1 > p, .item2 > p, .item3 > p, .item4 > p {
    /* display: block; */
    font-size: .8em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: royalblue;
}
